/*Header*/
.my-nav{
    background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');     
#navbarSupportedContent{
    font-family: 'Castoro';
    font-size: 25px;
    color: whitesmoke;
}
body{
    background-image: url("../Imagenes/compu2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.pie{
    background-color: black;
}
a, .mr-3{
    color: whitesmoke;
}
a, .tw, .fb, .ig{
    color: whitesmoke;
    align-items: center;
}
.copyright{
    color: whitesmoke;
}